<script type=text/javascript src="/static/js/My97DatePicker/WdatePicker.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="smaller lighter blue no-margin">添加服务信息</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal" id="addForm" role="form" action="/admin/software/post" method="post">
                <div class="form-group">
                   <label class="col-sm-3 control-label no-padding-right" for="name">应用名称：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Domain" name="Domain" required lay-verify="required" placeholder="登录名" class="col-xs-10 col-sm-5"
                           value=""/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">脚本名称：</label>
                    <div class="col-sm-9">
                         <input type="text" id="Script" name="Script" placeholder="脚本名称" class="col-xs-10 col-sm-5"
                           value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">检测脚本名称：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Checkscript" name="Checkscript" placeholder="检测脚本名称" class="col-xs-10 col-sm-5"
                               value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">脚本路径：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Path" name="Path" placeholder="脚本路径" class="col-xs-10 col-sm-5"
                               value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">应用端口：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Port" name="Port" placeholder="应用端口" class="col-xs-10 col-sm-5"
                               value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">包名称：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Softname" name="Softname" placeholder="包名称" class="col-xs-10 col-sm-5"
                               value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">包路径：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Softpath" name="Softpath" placeholder="包路径" class="col-xs-10 col-sm-5"
                               value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">部署环境：</label>
                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-5" name="EnvId" id="EnvId" style="width: 175px;">
                        {{range.EList}}
                            <option value="{{.Id}}" {{if .Envname}} selected="selected" {{end}}>{{.Envname}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">项目组：</label>
                    <div class="col-sm-9">
                        <select class="col-xs-10 col-sm-5" name="Perjectid" id="Perjectid" style="width: 120px;">
                          {{range.PList}}
                         <option value="{{.Id}}" {{if .Perject}} selected="selected" {{end}}>{{.Perject}}</option>
                          {{end}}
                        </select>
                    </div>
                </div>


                <div class="modal-footer" style="background-color: white">
                    <button class="btn btn-sm btn-primary" type="button" onclick="return save();">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                    <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        关闭
                    </button>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">

    jQuery(function ($) {
        $('#addForm').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                Domain: {
                    required: true,
                },
                Script: {
                    required: true,
                },
                Checkscript: {
                    required: true,
                },
                Path:{
                    required: true,
                },
                Port: {
                    required: true,
                },
                Softname: {
                    required: true,
                },
                Softpath: {
                    required: true,
                },
                EnvId: {
                    required: true,
                },
                PerjectId: {
                    required: true,
                },

            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            }
        });
    });
    //保存，之前进行校验
    function save() {
        if ($('#addForm').valid()) {
            $.post("/admin/software/post", $("#addForm").serialize(),
                    function (data) {
                        window.location.reload();
                    });
        }

    }
</script>