<script type=text/javascript src="/static/js/My97DatePicker/WdatePicker.js"></script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="smaller lighter blue no-margin">编辑用户</h3>
        </div>

        <div class="modal-body">
            <form class="form-horizontal" id="saveForm" role="form" action="/admin/user/update" method="post">
                <input type="hidden" id="Id" name="Id" value="{{.User.Id}}"/>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">登录名：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Username" name="Username" required lay-verify="required" placeholder="登录名" class="col-xs-10 col-sm-5"
                               value="{{.User.Username}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">密码：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Password" name="Password" placeholder="密码" class="col-xs-10 col-sm-5"
                               value="{{.User.Password}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">项目组：</label>
                    <div class="col-sm-9">
                        <input type="hidden" value="{{.User.Perjectid}}" id="PerjectIdHide">
                        <select class="col-xs-10 col-sm-5" name="Perjectid" id="Perjectid" style="width: 120px;">
                        {{range.List}}
                            <option value="{{.Id}}" {{if  .Id }} selected="selected" {{end}}>{{.Perject}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">状态：</label>
                    <div class="col-sm-3">
                        <input class="ace ace-checkbox-2" type="radio" name="Status"
                        {{if eq .User.Status 1 }}checked {{end}} value="1">
                        <span class="lbl">开启</span>
                        <input class="ace ace-checkbox-2" type="radio" name="Status"
                        {{if eq .User.Status 0 }}checked {{end}}  value="0">
                        <span class="lbl">关闭</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">昵称：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Name" name="Name" placeholder="昵称" class="col-xs-10 col-sm-5"
                               value="{{.User.Name}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">生日：</label>
                    <div class="col-sm-9">
                        <input type="text" id="BirthDate" name="BirthDate" placeholder="生日" class="col-xs-10 col-sm-5"
                               value="{{.User.BirthDate}}"onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-01',maxDate:'%y-%M-%ld'})" check="Require" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">性别：</label>
                    <div class="col-sm-9">
                        <input class="ace ace-checkbox-2" type="radio" name="Gender"
                               {{if eq .User.Gender 1 }}checked{{end}} value="1">
                        <span class="lbl">男</span>
                        <input class="ace ace-checkbox-2" type="radio" name="Gender"
                               {{if eq .User.Gender 0 }}checked{{end}} value="0">
                        <span class="lbl">女</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">Email：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Email" name="Email" placeholder="Email" class="col-xs-10 col-sm-5"
                               value="{{.User.Email}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">电话：</label>
                    <div class="col-sm-9">
                        <input type="text" id="Phone" name="Phone" placeholder="电话" class="col-xs-10 col-sm-5"
                               value="{{.User.Phone}}"/>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: white">
                    <button class="btn btn-sm btn-primary" type="button" onclick="return save();">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                    <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        关闭
                    </button>
                </div>
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">

    jQuery(function ($) {
        var Perjectid = $('#PerjectIdHide').val();
        $('#Perjectid').val(Perjectid)
        $('#saveForm').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                UserName: {
                    required: true,
                },
                Password: {
                    required: true,
                },
                Perjectid:{
                    required: true,
                },
                Status: {
                    required: true,
                },
                Name: {
                    required: true,
                },
                BirthDate: {
                    required: true,
                    dateISO: true,
                },
                Gender: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                Phone: {
                    required: true,
                    digits:true,
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },
            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
                $(e).remove();
            }
        });
    });
    //保存，之前进行校验
    function save() {
        if ($('#saveForm').valid()) {
            $.post("/admin/user/update", $("#saveForm").serialize(),
                    function (data) {
                         window.location.reload();
                    });
        }

    }
</script>